<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Analytics</title>

    <link rel="stylesheet"
          href="{{ url_for('static',
          filename='css/style.css') }}">

</head>

<body>

<header class="header">

    <h1>📊 Analytics</h1>

</header>

<div style="padding:15px;">

    <a href="/admin-dashboard"
       style="
       text-decoration:none;
       color:red;
       font-size:18px;
       font-weight:bold;">

        ← Back Dashboard

    </a>

</div>

<div style="
display:flex;
flex-wrap:wrap;
gap:20px;
padding:20px;">

    <div style="
    flex:1;
    min-width:250px;
    background:white;
    padding:25px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);">

        <h2>🍔 Menu Items</h2>

        <h1 style="color:red;">

            {{ data.total_items }}

        </h1>

    </div>

    <div style="
    flex:1;
    min-width:250px;
    background:white;
    padding:25px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);">

        <h2>📦 Total Orders</h2>

        <h1 style="color:blue;">

            {{ data.total_orders }}

        </h1>

    </div>

    <div style="
    flex:1;
    min-width:250px;
    background:white;
    padding:25px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);">

        <h2>💰 Revenue</h2>

        <h1 style="color:green;">

            ₹{{ data.revenue }}

        </h1>

    </div>

</div>

</body>
</html>